# Types and Operations

## Dynamic typing

In [22]:
x = 3
print(x)
print(type(x))

x = "merhaba"
print(x)
print(type(x))

3
<class 'int'>
merhaba
<class 'str'>

## Built-in Types

### Booleans

In [23]:
b = True
print(type(b))

<class 'bool'>

In [24]:
b = False
print(type(b))

<class 'bool'>

#### Boolean Operations

In [25]:
True and False

False

In [26]:
True or False

True

In [27]:
not True

False

In [28]:
2 < 3

True

In [29]:
['2 < %d < 10: %s' % (x, 2 <= x < 10) for x in range(12)]

['2 < 0 < 10: False',
 '2 < 1 < 10: False',
 '2 < 2 < 10: True',
 '2 < 3 < 10: True',
 '2 < 4 < 10: True',
 '2 < 5 < 10: True',
 '2 < 6 < 10: True',
 '2 < 7 < 10: True',
 '2 < 8 < 10: True',
 '2 < 9 < 10: True',
 '2 < 10 < 10: False',
 '2 < 11 < 10: False']

In [30]:
3 != 4

True

In [31]:
a = 1000000
b = 1000 * 1000
c = a
print(a == b == c)
print(a is b)
print(a is c)
print(b is c)

True
False
True
False

_more examples: https://stackoverflow.com/questions/132988/is-there-a-difference-between-and-is-in-python_

In [32]:
(a is not b) == (not a is b)

True

### Numbers

In [33]:
n = 5
print(type(n))
print(n)

<class 'int'>
5

In [34]:
big_number = 12345678901234567890123456789012345678901234567890
print(type(big_number))
print(big_number)

<class 'int'>
12345678901234567890123456789012345678901234567890

https://docs.python.org/3/library/stdtypes.html
> Integers have unlimited precision

In [35]:
f = 3.1415926535897932384626437950
print(type(f))
print(f)

<class 'float'>
3.141592653589793

In [36]:
c = 2 + 3j
print(type(c))
print(c)

<class 'complex'>
(2+3j)

#### Number Operations

In [37]:
c + f

(5.141592653589793+3j)

In [53]:
5 / 3

-1.6666666666666667

In [54]:
5 // 3

1

In [55]:
-5 // 3

-2

In [60]:
-5 % 3

1

In [61]:
divmod(-5, 3)

(-2, 1)

In [70]:
(5).bit_length()

3

In [73]:
hex(0x2345 & 0xf00f)

'0x2005'

In [38]:
inf = float('inf')
inf

inf

In [39]:
inf == inf

True

In [40]:
big_number < inf

True

In [41]:
nan = float('nan')
nan

nan

In [42]:
nan == nan

False

In [43]:
big_number < nan

False

In [44]:
big_number > nan

False

In [45]:
inf / inf

nan

In [46]:
3 / inf

0.0

In [47]:
inf * 0

nan

In [48]:
3.0 / 0.0

ZeroDivisionError: float division by zero

In [49]:
import numpy
numpy.float64(3.0) / 0.0

C:\Users\YUANWang\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in double_scalars

inf

## Built-in data structures

In [76]:
s = "This is a string"   # Can use " or '
t = ("abc", 1, -0.1)  # a tuple, delimited with ()
L = [1, 2, "hede", [-1, 2.1, 0]] # Lists are delimited with []; more versatile than tuples
S = {1, 3, 2, 5}  # a set, surrounded by {}
D = {"mehmet": 24, "fatma": 27, "deniz": 19}  # a dictionary with key:value pairs, delimited with {}

### Indexing and slicing

In Python indices always start with zero.

In [77]:
s = "This is a string!"
print( s[0]  )  # first element
print( s[1]  )  # second element
print( s[-1] )  # last element
print( s[-2] )  # second-to-last element

T
h
!
g

In [79]:
s[1:6]  # elements 1,2,3,4,5. Note that element 6 is excluded.

'his i'

In [80]:
s[:]  # entire iterable -- useful for copying

'This is a string!'

In [81]:
x = [1,2,3]
y = x

In [82]:
y

[1, 2, 3]

In [83]:
y[0] = 5
y

[5, 2, 3]

In [84]:
x

[5, 2, 3]

In [85]:
y = x[:]
y[0] = 17
y

[17, 2, 3]

In [86]:
x

[5, 2, 3]

In [87]:
s[::2]  # skip every other element

'Ti sasrn!'

In [88]:
s[::-1]  # Reverse order.

'!gnirts a si sihT'

These rules apply to all iterable objects (tuples, lists, strings, and others).

## Strings

All kinds of strings.

In [131]:
double_quotation = "This is a string in double quotations."
single_quotation = 'This is a string in single quotations.'
multi_line = '''This is a multi-lines string: 
line0, 
line1, 
line2,
line3,
....'''
escape = 'Some characters need to be escaped: \n, \t, \r, \\'
raw_string = r'A raw string will not escape [\]: \n, \t, \r, \\'

In [132]:
print(double_quotation)
print(single_quotation)
print(multi_line)
print(escape)
print(raw_string)

This is a string in double quotations.
This is a string in single quotations.
This is a multi-lines string:
line0,
line1,
line2,
line3,
....
Some characters need to be escaped:
, \
A raw string will not escape [\]: \n, \t, \r, \\

The `+` operator concatenates strings.

In [89]:
s1 = "This is a string!"
s2 = "And one more string."
s1 + s2

'This is a string!And one more string.'

And the * operator repeats the same string many times.

In [90]:
"abc"*5

'abcabcabcabcabc'

The `str` object methods can be listed with the `dir` function.

In [91]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Break a string into a list of substrings. Breaks at blank characters by default.

In [92]:
s1.split()

['This', 'is', 'a', 'string!']

However, another character can be specified.

In [93]:
s1.split("s")

['Thi', ' i', ' a ', 'tring!']

Sometimes we want to remove blank characters from the string:

In [94]:
s = "    String with blanks around it \t\n"
print(s)
print(s.strip())

    String with blanks around it

String with blanks around it

Count the occurrences of a substring.

In [95]:
s = "ABCABCCABABAABC"
s.count("ABC")

3

Find the location where a substring first occurs.

In [96]:
s.find("CAB")

2

Convert into a list of characters

In [97]:
list(s)

['A', 'B', 'C', 'A', 'B', 'C', 'C', 'A', 'B', 'A', 'B', 'A', 'A', 'B', 'C']

Generate a string by joining elements of a list.

In [98]:
L = ["hede","hodo","123"]
"".join(L)

'hedehodo123'

In [99]:
"-*-".join(L)

'hede-*-hodo-*-123'

## Lists

As in strings, the + operator concatenates lists, and the * operator repeats a list.

In [100]:
L1 = [1,2,3]
L2 = [4,5,6]
L1 + L2

[1, 2, 3, 4, 5, 6]

In [101]:
L1*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [102]:
len(L1)

3

In [103]:
L1.append(-19)
L1

[1, 2, 3, -19]

In [104]:
L2.extend([-1,-2])
L2

[4, 5, 6, -1, -2]

In [105]:
L2.append([-1,-2])
L2

[4, 5, 6, -1, -2, [-1, -2]]

In [106]:
L2.index(-1)

3

To get a sequence of numbers, use the `range` function.

In [107]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In Python 3.x the range function returns an iterator object, not a list, so we wrap a `list` call around it.

## Decisions

In [108]:
mynumber = 1
if mynumber == 0:
    print("This is zero.")
elif mynumber > 0:
    print("Positive.")
else:
    print("Negative.")

Positive.

## while loops

In [109]:
c = 0
while c <= 10:
    print(c)
    c += 1

0
1
2
3
4
5
6
7
8
9
10

## for loops

In Python, `for` loops go over each element of an _iterable_ object (tuple, list, string, etc).

In [110]:
for x in [1,2,"kaan", [5,6,7]]:
    print(x)

1
2
kaan
[5, 6, 7]

In [111]:
for c in "hedehodo":
    print(c+" "+c)

h h
e e
d d
e e
h h
o o
d d
o o

The equivalent `while` loop would be more complicated and less "Pythonic":

In [112]:
s = "hedehodo"
i = 0
while i in range(len("hedehodo")):
    print(s[i]+" "+s[i])
    i += 1

h h
e e
d d
e e
h h
o o
d d
o o

There are cases when you need to access not only the element, but its index as well, e.g. when updating the original. Use `enumerate`.

In [113]:
L = list(range(10)) # [0,..9]
for i, x in enumerate(L):
    if x%2==0:
        L[i] = "guguk"
print(L)

['guguk', 1, 'guguk', 3, 'guguk', 5, 'guguk', 7, 'guguk', 9]

In [114]:
x = 5
y = 3

In [115]:
x,y

(5, 3)

In [116]:
x,y = 4,9
x,y

(4, 9)

In [117]:
x,y = y,x
x,y

(9, 4)

## Building a list in a loop

Suppose we want to build a list such that $L[i] = i^2$. One way would be:

In [118]:
L = []  # empty list
for i in range(10):
    L.append(i*i)
L

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

_List comprehensions_ provide a simpler and quicker way to do it.

In [119]:
L = [ i*i for i in range(10) ]
L

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

For very large lists, list comprehensions are significantly faster.

## Built-in modules

Python has a "batteries included" approach. Many useful modules come with a standard installation. The `import` keyword loads the functions in a module, in its own namespace.

In [120]:
import math
math.sqrt(2), math.sin(math.pi/2), math.tanh(5)

(1.4142135623730951, 1.0, 0.9999092042625951)

To load a few names from the module to the current namespace, use the `from <module> import ...` keywords.

In [121]:
from random import uniform
uniform(-1,3)  # random number between -1 and 3, drawn from a uniform distribution

0.3337073771939778

## User-defined functions

In [122]:
def f(x, y=3):
    """This is a useless function."""
    print("x =",x,"y =",y)
    return x+y

In [123]:
f(1,2)

x = 1 y = 2

3

Optional arguments (those with a default value) may be omitted.

In [124]:
f(1)

x = 1 y = 3

4

Required arguments must be supplied.

In [125]:
f()

TypeError: f() missing 1 required positional argument: 'x'

Docstrings are used by the built-in help function, as well as by third-party applications such as IDEs.

In [ ]:
help(f)

Here's a function that takes another function as an argument.

In [ ]:
def g(f, x=0, y=0):
    return f(x) + f(y)

In [ ]:
g(math.sin, 1, 2)  # sin(1) + sin(2)

In [ ]:
def inv(x):
    return 1/x

In [ ]:
g(inv, 1, 2)  # 1/1 + 1/2

Alternatively, one can use the `lambda` keyword to create a throwaway function.

In [ ]:
g( lambda x: 1/x, 1, 2)